<epy-button
  [text]="'Im a red class'"
  [type]="'red'"
  (onButtonClick)="onButtonClick($event)"
></epy-button>

<epy-input></epy-input>
<epy-select
  [items]="[
    'Maximaze Revenue',
    'Maximaze Clicks',
    'Maximaze Conversions',
    'Maximaze Impressions',
    'Maximaze Profit'
  ]"
></epy-select>

<epy-select
  style="width:300px"
  [items]="[
    'Maximaze Revenue',
    'Maximaze Clicks',
    'Maximaze Conversions',
    'Maximaze Impressions',
    'Maximaze Profit'
  ]"
  [field]="'Whats your goal?'"
  [legend]="'(in which your campaign will run)'"
  [placeholder]="'Select strategy'"
  [selectedValue]="'Maximaze Clicks'"
  [filter]="true"
></epy-select>
